/* ----- Categories Left Column ----- */
.categories-main-content-left {
	float:left; width:40%; padding:0% 2% 0% 0%; margin:0;
}
/* ----- Sub-category Parent Click Menu ----- */
.new-article-form-content-category-info .admin-click-menu-container {
	width:100%; border:0px solid #2b3643; border-bottom:1px dotted #2b3643; outline:none;
}
.new-article-form-content-category-info .admin-click-menu-filter-pc a span.icon:before {
    position:absolute; right:0px; line-height:46px;
}
.new-article-form-content-category-info .admin-click-menu-filter-pc a span.tpns-ai-close:before {
	padding-right:10px;
}
.new-article-form-content-category-info .admin-click-menu-content {
	min-width:100%; max-width:100%; width:100%;
}
.new-article-form-content-category-info .admin-click-menu-content.admin-click-menu-content-right:after {
    right:16px;
}
/* ----- Categories Right Column ----- */
.categories-main-content-right {
	float:left; width:58%; padding:0; margin:0;
}
/* ----- Categories Table ----- */
/* ----- All Categories Header Layout ----- */
.categories-data-header {
	margin-top:20px;
}
.categories-data-header-inner {
	display:table; table-layout:auto; background:#dce0ec; width:100%;
}
.categories-data-header-items {
	display:table-cell; text-align:center; vertical-align:middle; padding:5px 5px 7px;
}
.categories-data-header-inner .categories-data-header-items:nth-child(1) { width:52px; }
.categories-data-header-inner .categories-data-header-items:nth-child(2) { width:auto; }
.categories-data-header-inner .categories-data-header-items:nth-child(3) { width:auto; }
.categories-data-header-inner .categories-data-header-items:nth-child(4) { width:54px; }
.categories-data-inner p, .sub-categories-data-inner p {
	line-height:20px; padding:0; margin:0;
}
.categories-data-inner:first-child .reorder-up, .categories-data-inner:last-child .reorder-down, .sub-categories-data-inner:first-child .sub-reorder-up, .sub-categories-data-inner:last-child .sub-reorder-down {
	display:none;
}
.categories-data-header-items .admin-articles-bulk-actions-controller a {
	height:20px; line-height:20px;
}
/* ----- Categories Body Layout ----- */
.categories-data-inner-table {
	display:table; table-layout:auto; width:100%;
}
.categories-data-items, .sub-categories-data-items {
	display:table-cell; text-align:center; vertical-align:top; padding:5px 5px 7px;
}
.categories-data-inner-table:hover, .sub-categories-data-inner:hover {
	background:#f1f3fa;
}
.categories-data-inner-table.admin-global-checkbox-checked, .sub-categories-data-inner.admin-global-checkbox-checked {
	background:#fef7dc;
}
.categories-data-inner-table .categories-data-items:nth-child(4n+1), .sub-categories-data-inner-table .sub-categories-data-items:nth-child(4n+1) {  }
.categories-data-inner-table .categories-data-items:nth-child(4n+2), .sub-categories-data-inner-table .sub-categories-data-items:nth-child(4n+2) { text-align:left; }
.categories-data-inner-table .categories-data-items:nth-child(4n+3), .sub-categories-data-inner-table .sub-categories-data-items:nth-child(4n+3) { text-align:left; }
.categories-data-inner-table .categories-data-items:nth-child(4n+4), .sub-categories-data-inner-table .sub-categories-data-items:nth-child(4n+4) {  }
.categories-data-inner-table .categories-table-controllers, .sub-categories-data-inner .categories-table-controllers {
	visibility:hidden; clear:both; position:relative; margin:10px 0px 0px;
}
.categories-data-inner-table:hover .categories-table-controllers, .sub-categories-data-inner:hover .categories-table-controllers {
	visibility:visible;
}
/* ----- Sub-categories Body Layout ----- */
.sub-categories-data-inner-table {
	display:table; table-layout:auto; position:relative; max-width:100%; margin:0px 10px;
}
.sub-categories-data-inner-table:after {
    content:""; display:block; position:absolute; top:-45px; bottom:52px; left:20px; border-left:1px dotted #2b3643;
}
.sub-categories-data-inner-table li {
    position:relative; padding-left:15px;
}
.sub-categories-data-inner-table li:before {
    content:""; display:block; position:absolute; top:0; bottom:52px; left:20px; width:16px; border-bottom:1px dotted #9aa7b6;
}










