/* CSS Document */
.admin-new-article-search-form button [class^="tpns-ai-"]:before, .admin-new-article-search-form button [class*=" tpns-ai-"]:before {
	padding-left:10px; padding-right:0px; font-size:110%;
}
.articles-content-button a [class^="tpns-ai-close"]:before, .articles-content-button a [class*=" tpns-ai-close"]:before {
	font-size:80%;
}
/* ---------- Admin Global Content Area Form - Textarea ---------- */
.new-article-form-content-body textarea {
	width:100%; min-height:30px; max-height:200px; color:#2b3643; font-family:OpenSans-Regular, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.125em; line-height:30px; padding:0; margin:0%; border:0px solid #2b3643; border-bottom:1px dotted #2b3643; resize:vertical; overflow:hidden; outline:none;
}
.new-article-form-content-body textarea::-webkit-input-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body textarea:-moz-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body textarea::-moz-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body textarea:-ms-input-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body .limit { padding:3px 0 3px 4px; }





/* ---------- Articles Filter Results Area ---------- */
.filter-inactive h2, .filter-active h3, .filter-active p {
	display:inline-block; height:30px; line-height:30px; vertical-align:middle;
}
.filter-inactive h2 i[class^="tpns-ai-"]:before, .filter-inactive h2 i[class*=" tpns-ai-"]:before {
	vertical-align:top; font-size:95%;
}
.filter-active-items {
	display:inline-block;
}
.filter-active-items [class^="tpns-ai-filter"]:before, .filter-active-items [class*=" tpns-ai-filter"]:before {
	padding-left:0px; padding-right:10px; vertical-align:text-top;
}
.filter-active-reporter u {
	/*vertical-align:top;*/
}
.filter-active-reporter img {
	width:30px; height:30px; -webkit-border-radius:6px; border-radius:6px; margin:0px 5px 0px 0px;
}
.filter-active-reporter span {
	vertical-align:top;
}
.filter-active-first-seperator-active, .filter-active-second-seperator-active {
	display:inline-block; vertical-align:top;
}
.filter-active-first-seperator [class^="tpns-ai-"]:before, .filter-active-first-seperator [class*=" tpns-ai-"]:before {
	padding:0px; font-size:80%;
}
.filter-active-category {
	display:inline-block; height:30px; line-height:18px; font-size:80%; vertical-align:text-bottom;
}
.filter-active-sub-category-container {
	height:30px; line-height:21px; font-size:65%; vertical-align:text-bottom;
}
.filter-active p {
	padding:0;
}
.filter-active-items.articles-content-button a {
	margin-left:10px;
}

/* ----- Cell Content ----- */
.global-table-container .global-table-cell .admin-click-menu-content-left, .global-table-container .global-table-cell .admin-click-sub-menu-content-left {
    left:-14px;
}
.global-table-container .global-table-cell p u img {
	float:left; width:50px; height:50px; -webkit-border-radius:6px; border-radius:6px; margin-right:5px;
}
.article-draft {
	color:#f2784b;
}

.article-published {
	color:#0055ff;
}

.article-scheduled {
	color:#26c281;
}
/* ----- Cell Content - Featured Article Container ----- */
.new-article-form-content-related-info.articles-form-content-featured-info {
    margin-top:0px;
}
.new-article-form-content-related-info.articles-form-content-featured-info .admin-click-menu-content {
	min-width:150%;
}
.articles-form-content-featured-info .admin-click-menu-content li a u {
	display:none;
}
.articles-form-content-featured-info .admin-click-menu-button a, .articles-form-content-featured-info .admin-click-sub-menu-button a {
	padding-top:0px;
}
.articles-form-content-featured-info .admin-click-menu-button a .admin-click-menu-mobile {
	font-size:100%;
}
.articles-form-content-featured-info .admin-click-menu-container a u[class^="tpns-ai-"]:before, .articles-form-content-featured-info .admin-click-menu-container a u[class*=" tpns-ai-"]:before, .articles-form-content-featured-info .admin-click-menu-container a .selected-admin-bi-reporter-image i[class^="tpns-ai-"]:before, .articles-form-content-featured-info .admin-click-menu-container a .selected-admin-bi-reporter-image i[class*=" tpns-ai-"]:before {
	padding:0 5px 2px;
}
.global-table-container .global-table-cell .articles-form-content-featured-info .admin-click-menu-content-left {
	left:-9px;
}
.all-articles-table .articles-form-content-featured-info .admin-click-menu-content, .all-articles-trash-table .articles-form-content-featured-info .admin-click-menu-content {
    margin-top: 2px;
}
.global-table-row .article-shortcut-controllers {
	visibility:hidden; clear:both; position:relative; margin:10px 0px 0px;
}
.global-table-row:hover .article-shortcut-controllers {
	visibility:visible;
}







/* ---------- New Article Content Container ---------- */
.new-article-content-container {
	position:relative; width:100%; padding:0; margin:0;
}
.new-article-content-container h3, .new-article-content-container p {
	line-height:100%; padding:0; margin:0;
}
.new-article-content-left-column {
	float:left; width:71.7%; pading:0; margin:0;
}
.new-article-content-right-column {
	float:left; width:27%; pading:0; margin:0; margin-left:1.3%;
}
.new-article-form-content-header-right .admin-click-menu-content p {
	padding-bottom:10px;
}
.new-article-form-content-header-right .admin-click-menu-content p:last-child {
	padding-bottom:0px;
}



/* ----- Categories Container ----- */
.new-article-categories-container, .new-article-also-show-in-container {
	max-height:400px; overflow-y:auto;
}
.new-article-categories-container ul li h5 i:before, .new-article-categories-container ul li h5 .admin-global-checkbox-label:before {
	padding-right:10px;
}
.new-article-categories-container ul ul {
	position:relative; margin-left:15px;
}
.new-article-categories-container ul ul:after {
	display:block; content:""; position:absolute; top:-11px; bottom:10px; left:0; border-left:1px dotted #2b3643; -webkit-border-radius: 0 10px 10px 0;
border-radius: 0 10px 10px 0;
}
.new-article-categories-container ul ul li {
	position:relative; padding-left:10px;
}
.new-article-categories-container ul ul li:before {
	display:block; content:""; position:absolute; top:0; bottom:10px; left:0; width:15px; border-bottom:1px dotted #9aa7b6;
}
.new-article-categories-container ul li h5 {
	position:relative;
}
.new-article-categories-container ul li h5 label {
	line-height:40px;
}
.new-article-categories-container ul ul li p {
	display:block; line-height:20px; padding:0; margin:0; white-space:nowrap;
}
.hide-sub-categories, .show-sub-categories {
	position:absolute; right:0;
}
.hide-sub-categories u, .show-sub-categories u {
	margin-right:10px;
}
.new-article-categories-container ul ul li p label, .new-article-categories-container ul li h5 label {
	width:100%; display:inline-block;
}
.new-article-categories-container ul ul li p.admin-global-checkbox label:hover, .new-article-categories-container ul li h5.admin-global-checkbox label:hover {
	background:#f1f3fa;
}
.new-article-categories-container ul ul li p.admin-global-checkbox label span.admin-global-checkbox-label:before {
	padding:0 10px 0 5px;
}
.new-article-content-options .admin-global-checkbox {
	margin-top:5px;
}
.new-article-content-text-options-container {
	margin-top:20px;
}

/* ----- Also Show In Container ----- */
.new-article-categories-container ul li p {
	display:block; line-height:20px; padding:0; margin:0; white-space:nowrap;
}
.new-article-also-show-in-container ul li p i:before, .new-article-also-show-in-container ul li p .admin-global-checkbox-label:before {
	padding-right:10px;
}
.new-article-categories-container ul li p label {
	width:100%; display:inline-block;
}
.new-article-categories-container ul li p.admin-global-checkbox label:hover {
	background:#f1f3fa;
}
.new-article-categories-container ul li p.admin-global-checkbox label span.admin-global-checkbox-label:before {
	padding:0 10px 0 5px;
}
/* ----- Related Article Container ----- */
.admin-new-article-search-form {
	table-layout:auto;
}
.admin-new-article-search-form .global-table-cell {
	width:100%;
}
.admin-new-article-search-form input {
	position:relative; width:97%; height:30px; background:transparent; color:#2b3643; padding:0; margin:0; margin-right:3%; border:none; border-bottom:1px dotted #2b3643; -webkit-border-radius:0 0 0 0; border-radius: 0 0 0 0; outline-color:transparent; outline-style:none; -webkit-appearance:none;
}
.admin-new-article-search-form input::-webkit-input-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.admin-new-article-search-form input:-moz-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.admin-new-article-search-form input::-moz-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.admin-new-article-search-form input:-ms-input-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-related-info {
	margin-top:10px;
}
.new-article-form-content-related-info .admin-click-menu-button a i, .new-article-form-content-related-info .admin-click-menu-button a u {
	font-size:100%;
}
.new-article-form-content-related-info .admin-click-menu-button a, .new-article-form-content-related-info .admin-click-sub-menu-button a {
	height:26px; line-height:120%; padding-top:2px;
}
.new-article-form-content-related-info .admin-click-menu-button a:hover {
	color:#3598dc;
}
.new-article-form-content-related-info .admin-click-menu-container a [class^="tpns-ai-"]:before, .new-article-form-content-related-info .admin-click-menu-container a [class*=" tpns-ai-"]:before {
	padding:0 0 0 5px;
}
.new-article-form-content-related-info .admin-click-menu-content.admin-click-menu-content-right:after {
	right:12px;
}
.new-article-form-content-related-info .admin-click-menu-content {
	min-width:250%;
}
/* ----- Featured Article Container ----- */
.new-article-form-content-featured-info .admin-click-menu-content {
	min-width:150%;
}
.new-article-form-content-featured-info .admin-click-menu-content li a u {
	display:none;
}
.new-article-form-content-featured-info .admin-click-menu-button a, .new-article-form-content-featured-info .admin-click-sub-menu-button a {
	padding-top:0px;
}
.new-article-form-content-featured-info .admin-click-menu-button a .admin-click-menu-mobile {
	font-size:120%;
}
.new-article-form-content-featured-info .admin-click-menu-container a u[class^="tpns-ai-"]:before, .new-article-form-content-featured-info .admin-click-menu-container a u[class*=" tpns-ai-"]:before, .new-article-form-content-featured-info .admin-click-menu-container a .selected-admin-bi-reporter-image i[class^="tpns-ai-"]:before, .new-article-form-content-featured-info .admin-click-menu-container a .selected-admin-bi-reporter-image i[class*=" tpns-ai-"]:before {
	padding:0 10px 6px 5px;
}





/* --------------- CKEditor TPNS ------------------ */
.cke_chrome {
	margin-bottom:30px !important; border:0px solid #FFFFFF !important; border-bottom:1px dotted #2b3643 !important;
}
.cke_top {
	padding:0px !important;
}
.cke_editable {
	margin:5px !important;
}
.cke_bottom {
    min-height:20px !important; overflow:visible !important;
}
.cke_path_item, .cke_path_empty {
	font-weight:normal !important; text-shadow:none !important; font-family:OpenSans-Light, "Trebuchet MS", Arial, Helvetica, sans-serif !important; margin:0px !important;
}
.cke_wordcount {
	float:none !important; margin-right:0px !important; margin-top:3px !important; position:absolute !important; right:0 !important; top:100% !important;
}
.cke_wordcount .cke_path_item {
	font-size:1.125em !important; padding:3px 0 3px 4px !important;
}

/* --------------- File Uploader TPNS ------------------ */
.image-upload-container, .new-article-content-options {
	display:inline-block; vertical-align:top;
}
.new-article-content-options {
	margin-left:10px;
}
.ajax-file-upload:before {
	content:"\22"; font-family:"tpns-admin-icons"; font-size:120%; vertical-align:bottom; padding-right:5px;
}
.ajax-file-upload-statusbar, .ajax-file-upload-error {
	background:#f1f3fa; width:auto; text-align:center; padding:10px; margin:10px 0px 0px; border:1px solid #e7ecf1;
}
.ajax-file-upload-error {
	width:auto; color:#e7505a;
}
.ajax-file-upload-filename {
	width:100%; height:auto; margin:5px 0px; font-size:0.750em;
}
.ajax-file-upload-filesize {
	width:50px; height:auto; margin:0 5px 5px 0px; display:inline-block; vertical-align:middle;
}
.ajax-file-upload-progress {
	display:inline-block; position:relative; width:100%; background:#dce0ec; color:#2b3643; padding:0; margin:5px 0px 0px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #dce0ec;
}
.ajax-file-upload-bar {
	background-color:#364150; width:0; height:24px; color:#FFFFFF; margin:0;
}
.ajax-file-upload-percent {
	position:absolute; display:inline-block; top:3px; left:48%; color:#f1f3fa;
}
.ajax-upload-dragdrop {
	background:#f1f3fa; width:auto; text-align:center; vertical-align:middle; padding:20px 10px; margin-top:10px; border:1px solid #dce0ec;
}
.ajax-upload-dragdrop span {
	line-height:30px; padding-left:10px;
}
.state-hover {
	border:1px solid #2b3643;
}


















