/* CSS Document */
/* ---------- Admin Global Content Area - Warning Button ---------- */
.articles-content-button a {
	display:inline-block; background:#2b3643; color:#9aa7b6; line-height:24px; vertical-align:bottom; padding:0px 10px 4px; -webkit-border-radius:6px; border-radius:6px;
}
.articles-content-button a:hover { color:#FFFFFF; }
.articles-content-button.warning-button a:hover { background:#f2784b; }
.articles-content-button.stop-button a:hover { background:#e7505a; }
.articles-content-button.go-button a:hover { background:#26c281; }
.articles-content-button.schedule-button a:hover { background:#8e44ad; }
.articles-content-button a [class^="tpns-ai-"]:before, .articles-content-button a [class*=" tpns-ai-"]:before {
	padding-left:0px; padding-right:10px; font-size:110%;
}
.articles-content-button a [class^="tpns-ai-close"]:before, .articles-content-button a [class*=" tpns-ai-close"]:before {
	font-size:80%;
}

/* ---------- Admin Global Content Area Form - Textarea ---------- */
.new-article-form-content-body textarea {
	width:100%; min-height:30px; max-height:200px; color:#2b3643; font-family:OpenSans-Regular, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.125em; line-height:30px; padding:0; margin:0%; border:0px solid #2b3643; border-bottom:1px dotted #2b3643; resize:vertical; overflow:hidden; outline:none;
}
.new-article-form-content-body textarea::-webkit-input-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body textarea:-moz-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body textarea::-moz-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body textarea:-ms-input-placeholder { color:#2b3643; font-family: OpenSansLight-Italic, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.new-article-form-content-body .limit { padding:3px 0 3px 4px; }


/* ---------- Articles Filter Results Area ---------- */
.filter-inactive h2, .filter-active h3, .filter-active p {
	height:30px; line-height:30px; vertical-align:top;
}
.filter-active-items {
	display:inline-block;
}
.filter-active-items [class^="tpns-ai-filter"]:before, .filter-active-items [class*=" tpns-ai-filter"]:before {
	padding-left:0px; padding-right:10px;
}
.filter-active-reporter u {
	vertical-align:top;
}
.filter-active-reporter img {
	width:30px; height:30px; padding-top:9px; border-radius:17px; margin-right:5px; margin-top:-8px;
}
.filter-active-first-seperator [class^="tpns-ai-"]:before, .filter-active-first-seperator [class*=" tpns-ai-"]:before {
	padding:0px; font-size:80%;
}
.filter-active-category {
	font-size:80%;
}
.filter-active-sub-category-container {
	font-size:65%;
}
.filter-active p {
	padding:0;
}
.filter-active-items.articles-content-button a {
	margin-left:10px;
}

/* ----- Articles Data Table ----- */
.global-table.all-articles-table {
	table-layout:auto; margin:20px 0px;
}
.all-articles-container .global-table-row:hover {
	background:#f1f3fa;
}
.all-articles-container .global-table-row.admin-global-checkbox-checked {
	background:#fef7dc;
}
.all-articles-container .global-header-cell {
	background:#dce0ec; text-align:center; vertical-align:middle; padding:5px 5px 7px;
}
.all-articles-container .global-header-cell p {
	line-height:20px; padding:0; margin:0; white-space:nowrap;
}
.all-articles-container .global-table-cell {
	vertical-align:top; text-align:center; padding:10px 5px;
}
.all-articles-container .global-table-cell p {
	line-height:20px; padding:0; margin:0;
}
/* ----- Header Layout ----- */
.all-articles-container .global-header-cell:nth-child(1) { width:52px; }
.all-articles-container .global-header-cell:nth-child(2) { width:65px; }
.all-articles-container .global-header-cell:nth-child(3) { width:60px; }
.all-articles-container .global-header-cell:nth-child(4) {  }
.all-articles-container .global-header-cell:nth-child(5) { width:200px; }
.all-articles-container .global-header-cell:nth-child(6) { width:20px; }
.all-articles-container .global-header-cell:nth-child(7) { width:110px; }
.all-articles-container .global-header-cell:nth-child(8) { width:30px; }
.all-articles-container .global-header-cell:nth-child(9) { width:30px; }
.all-articles-container .global-header-cell:nth-child(10) { width:30px; }
.all-articles-container .global-header-cell:nth-child(11) { width:30px; }
.all-articles-container .global-header-cell:nth-child(12) { width:30px; }
.all-articles-container .global-header-cell:nth-child(13) { width:90px; }
/* ----- Body Layout ----- */
.all-articles-container .global-table-cell:nth-child(13n+1) {  }
.all-articles-container .global-table-cell:nth-child(13n+2) { text-align:left; }
.all-articles-container .global-table-cell:nth-child(13n+3) {  }
.all-articles-container .global-table-cell:nth-child(13n+4) { text-align:left; }
.all-articles-container .global-table-cell:nth-child(13n+5) { text-align:left; }
.all-articles-container .global-table-cell:nth-child(13n+6) {  }
.all-articles-container .global-table-cell:nth-child(13n+7) { text-align:left; }
.all-articles-container .global-table-cell:nth-child(13n+8) {  }
.all-articles-container .global-table-cell:nth-child(13n+9) {  }
.all-articles-container .global-table-cell:nth-child(13n+10) {  }
.all-articles-container .global-table-cell:nth-child(13n+11) {  }
.all-articles-container .global-table-cell:nth-child(13n+12) {  }
.all-articles-container .global-table-cell:nth-child(13n+13) {  }
/* ----- Header Cell Content ----- */
.all-articles-table .global-header-cell .admin-click-menu-button a [class^="tpns-ai-"]:before, .all-articles-table .global-header-cell .admin-click-menu-button a [class*=" tpns-ai-"]:before {
	padding:0px 5px;
}
.select-all-rows-container, .admin-articles-bulk-actions-controller {
	display:inline-block; vertical-align:text-top;
}
.select-all-rows-button-check a [class^="tpns-ai-"]:before, .select-all-rows-button-check a [class*=" tpns-ai-"]:before, .select-all-rows-button-uncheck a [class^="tpns-ai-"]:before, .select-all-rows-button-uncheck a [class*=" tpns-ai-"]:before {
	padding:0px 0px 0px 5px;
}
.admin-articles-bulk-actions-controller a [class^="tpns-ai-"]:before, .admin-articles-bulk-actions-controller a [class*=" tpns-ai-"]:before {
	padding:0px 5px 0px 0px;
}
.all-articles-table .admin-click-menu-button a {
	height:20px; line-height:20px;
}
.all-articles-table .admin-click-menu-content {
	margin-top:13px;
}
.all-articles-table .admin-click-menu-button a u {
    font-size:100%;
}
.all-articles-table .admin-click-menu-button-pc-close a {
	color:#3598dc;
}
.all-articles-table .admin-click-menu-button-pc-close a:hover {
	color:#2b3643;
}
/* ----- Cell Content ----- */
.all-articles-container .global-table-cell .admin-click-menu-content-left, .all-articles-container .global-table-cell .admin-click-sub-menu-content-left {
    left:-14px;
}
.all-articles-container .global-table-cell:nth-child(5) p u {
	float:left; margin-right:5px;
}
.article-draft {
	color:#f2784b;
}
.article-scheduled {
	color:#26c281;
}

/* ---------- New Article Content Container ---------- */
.new-article-content-container {
	position:relative; width:100%; padding:0; margin:0;
}
.new-article-content-container h3, .new-article-content-container p {
	line-height:100%; padding:0; margin:0;
}
.new-article-content-left-column {
	float:left; width:71.7%; pading:0; margin:0;
}
.new-article-content-right-column {
	float:left; width:27%; pading:0; margin:0; margin-left:1.3%;
}
/* ----- Form Containers ----- */
.new-article-form-content-container-full-width {
	position:relative; width:100%; padding:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #dce0ec; margin:20px 0px;
}
.new-article-form-content-container-half-width {
	float:left; position:relative; width:49%; padding:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #dce0ec; margin:0px 0px 20px;
}
.new-article-form-content-container-half-width:nth-child(2n+1) {
	margin-right:2%;
}
.new-article-form-content-header {
	position:relative; width:100%; background:#f1f3fa; padding:10px; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #dce0ec;
}
.new-article-form-content-header-left, .new-article-form-content-header-right {
	display:inline-block;
}
.new-article-form-content-header h3, .new-article-form-content-header-right p a {
	font-family:OpenSans-Regular, "Trebuchet MS", Arial, Helvetica, sans-serif; 
}
.new-article-form-content-header-right {
	float:right;
}
.new-article-form-content-header-right p a {
	display:block; width:24px; height:24px; background:#FFFFFF; line-height:24px; text-align:center; font-size:1.063em; padding:0; border:1px solid #2b3643; -webkit-border-radius:6px; border-radius:6px; margin:0;
}
.new-article-form-content-header-right p a:hover, .new-article-form-content-header-right .admin-click-menu-button-pc-close a {
	background:#2b3643; color:#FFFFFF;
}
.new-article-form-content-header-right .admin-click-menu-button-pc-close a:hover {
	background:#FFFFFF; color:#2b3643;
}
.new-article-form-content-header-right .admin-click-menu-content.admin-click-menu-content-right, .new-article-form-content-header-right .admin-click-menu-content.admin-click-sub-menu-content-right {
    right:-15px; margin-top:14px;
}
.new-article-form-content-header-right .admin-click-menu-content {
	min-width:300px; color:#FFFFFF;
}
.new-article-form-content-header-right .admin-click-menu-content p {
	line-height:120%;
}









.new-article-form-content-body {
	position:relative; width:100%; padding:10px; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}




/* --------------- CKEditor Temp styles ------------------ */
.cke_chrome {
	margin-bottom:30px !important; border:0px solid #FFFFFF !important; border-bottom:1px dotted #2b3643 !important;
}
.cke_top {
	padding:0px !important;
}
.cke_editable {
	margin:5px !important;
}
.cke_bottom {
    min-height:20px !important; overflow:visible !important;
}
.cke_path_item, .cke_path_empty {
	font-weight:normal !important; text-shadow:none !important; font-family:OpenSans-Light, "Trebuchet MS", Arial, Helvetica, sans-serif !important; margin:0px !important;
}
.cke_wordcount {
	float:none !important; margin-right:0px !important; margin-top:3px !important; position:absolute !important; right:0 !important; top:100% !important;
}
.cke_wordcount .cke_path_item {
	font-size:1.273em !important; padding:3px 0 3px 4px !important;
}

